---
title: Word Count Test
date: 2019-01-25
tags: art,apples
layout: post.njk
collection: words
---


## Interpretation for today's world

Even this 'modern' version requires a lot of work on the reader's part to make use of it today.
