---
title: Firm Gently, Gently Firm and the I Ching
excerpt: What's with the name?
date: 2019-01-25
tags: art,ideas,weird
layout: post.njk
collection: words
---

![Yin Yang lines](https://gentlyfirm.co.uk/words/wp-content/uploads/2016/08/yinYangLines.jpg)
*Yang (unbroken line) and Yin (broken line)*

Ok, _originally_ I found the phrase "please firm gently" on the back of a packet of seeds. I loved the juxtaposition of concepts (**firm it!**.. _but gently_!). And I liked the yin-yang nature of it too.


## I Ching / The Classic of Changes

I use the _I Ching_, an ancient Chinese book full of deep insight, wisdom and observations on nature, especially human nature. The name translates to _Classic of Changes_ and at 3,000 years old it's the oldest of the Chinese classics and one of the oldest books in the world. This book knows a _lot_. [Taoism](https://en.wikipedia.org/wiki/Taoism) and the concept of [Yin/Yang](https://en.wikipedia.org/wiki/Yin_and_yang) come from the I Ching.

The version I use has been translated as follows:

_Chinese > German > English > shortened/simplified English._

So a lot will have been lost from the original. It keeps it short and sweet though and as you have to interpret the meaning of the text in your own way I like the distilled version, uncluttered by other people's interpretations.

!['Inner Truth' hexagram from the I Ching](https://gentlyfirm.co.uk/words/wp-content/uploads/2016/08/innerTruthHexagramTattoo.jpg)
*Inner Truth hexagram, the first tattoo I ever had. It reminds me to do the right thing, to not be selfish. Of course it doesn't always work, I'm human. But whenever I see it I am reminded.*

!['The Joyous' hexagram from the I Ching](https://gentlyfirm.co.uk/words/wp-content/uploads/2016/08/theJoyousTrigram.jpg)
*The Joyous: A trigram representing joyousness and the image of a lake.*


The I Ching is a book of 64 pages, each based on one of 64 **hexagrams** ('6-lines').

Each hexagram is made from two **trigrams**('3-lines').

There are eight trigrams, each represents a base concept (shown below) and when combined in pairs they represent another less primitive concept.

- **The Creative**   Heaven
- **The Receptive**   Earth
- **The Arousing**   Thunder
- **The Abysmal**   Water
- **Keeping Still**   Mountain
- **The Gentle**   Wind, wood
- **The Clinging**   Fire
- **The Joyous**   Lake


## So, the logos?

So the Firm Gently logo is made up of the trigrams for KEEPING STILL (firm, a fist) and THE GENTLE (the open hand), reading from right to left to keep it Chinese. The Gently Firm logo has the trigrams in opposite positions.

!['Fist element' from logo](https://gentlyfirm.co.uk/words/wp-content/uploads/2016/08/firmFist.jpg)
*KEEPING STILL (firm, a fist)*

!['Open hand' element from logo](https://gentlyfirm.co.uk/words/wp-content/uploads/2016/08/gentleOpen.jpg)
*THE GENTLE (the open hand)*


## 8 x 8 = 64 pages of wise words.

**The I Ching does not try to predict the future.** To use it, you find a random way of being 'directed' to a page, often with a particular question or situation in mind. So the idea is that you'll be guided to a page which helps you to understand your question or situation.

I use the 3-coin method. You take 3 coins, toss them and the results (how many heads/tails) get converted into a line in your hexagram. It might be an unbroken line (yang), a broken line (yin) or a special 'moving line' which changes from yin to yang or vice-versa (moving lines happen when you get 3 heads or 3 tails).

Do this another 5 times to get your 6 lines for your hexagram. Look up the hexagram on the contents page and it tells you which page in the book to read.

![I Ching book and coins](https://gentlyfirm.co.uk/words/wp-content/uploads/2016/08/iChingReading.jpg)
*"I threw the I Ching yesterday... it said there'd be some thunder at the well..."*


## Interpretation for today's world

Even this 'modern' version requires a lot of work on the reader's part to make use of it today. Being aimed at ancient Chinese Emperors the language is all very male and talks a lot about being a leader, warfare and 'controlling your population' and so on. But the concepts covered are much broader than that, you just have to work out how to convert them into modern ideas and goals.

The original book was compiled and refined over centuries by some of the wisest people around. A lot of cultural changes have taken place since it was written. I don't think human nature has changed at all in that time.

_To be inwardly firm and outwardly gentle is the way of true joy._
	
