---
layout: fg-template.njk
title: Words
bodyClass: words
og_type: http://www.schema.org/Article
desc: Original writing.
---

{% import "./layouts/itemList.njk" as itemList %}

{{ itemList.create(collections.words, "words", data) }}

