{% set sitedata = data.config[data.config.consts.FIRMGENTLY_SITEDATA_ID] %}
{% extends "template.njk" %}

{% block extraCSS -%}
<link rel="stylesheet" href="/css/darken.css">
{%- endblock %}

{% block main %}{{ contents | safe }}{% endblock %}
