{% extends "fg-template.njk" %}


{% macro insertStuckism() %}
	<a href="http://www.stuckism.com/stuckistmanifesto.html">
		<h2>The Stuckists Manifesto</h2>&nbsp;<p>{{ data.stuckism | random | safe }}</p>
	</a>
{% endmacro %}


{# draw images linking to work items #}
{% macro insertHomeItems(collection, total) %}
  {% set count = 0 %}
  {% for item in collection %}
    {% if count < total %}
      {% if not item.itemData.excludeFromHome %}
        {% set count = count + 1 %}
        <li>{{ createItem(item) }}</li>
      {% endif %}
    {% endif %}
    {%- endfor %}
{% endmacro %}


{% block main %}

<div class="side-column">
  {{ contents | safe }}{# editable content from index markdown #}
</div>


<div class="main-column">
  <ul class="item-list-container">
	
	{{ insertHomeItems(collections.art, data.config.consts.HOME_LATESTITEMS_PER_COLLECTION) }}
	{{ insertHomeItems(collections.word, data.config.consts.HOME_LATESTITEMS_PER_COLLECTION) }}
	{{ insertHomeItems(collections.photo, data.config.consts.HOME_LATESTITEMS_PER_COLLECTION) }}
	{{ insertHomeItems(collections.object, data.config.consts.HOME_LATESTITEMS_PER_COLLECTION) }}

	<li class="widget">
		<div id="hire-me">
			<a id="hire-me-anim"><img src="/images/hireMeSun.png"><h2>Hire me</h2></a>
			<!--ul>
				<li><a href="/contact.php?about=Web%20Work">Front End Web Dev</a> (HTML/CSS/PHP/MySQL/JS)</li>
				<li>Flash and HTML5 <a href="/contact.php?about=Games">games</a></li>
				<li>Painting <a href="/contact.php?about=Painting%20Commission">commissions</a></li>
				<li>Making <a href="/contact.php?about=Making%20Props">props</a></li>
			</ul-->
		</div>
	</li>

	<li class="widget stuckism">{{ insertStuckism() }}</li>

  </ul>
</div>


{% endblock %}
