{% extends "fg-template.njk" %}


{# work out item details #}
{% if itemData.size %}
	{% set itemSize = itemData.size %}
{% else %}
	{% set itemSize = itemData.w + "&nbsp;x&nbsp;" + itemData.h + "cm" %}
{% endif %}

{% if (itemData.type == "ART" or itemData.type == "OBJECTS") %}
	{% set detail1 = itemData.materials + ", " + itemSize %}
	{% set detail2 = itemData.year %}
{% elif itemData.type == "PHOTOS" %}
	{% set detail1 = itemData.location + ", " + itemData.year %}
	{% set detail2 = "Camera: " + itemData.camera %}
{% else %} {# WEB #}
	{% set detail1 = itemData.client %}
	{% if itemData.agency %}
		{% set detail1 = detail1 + " / " + itemData.agency %}
	{% endif %}
	{% set detail2 = itemData.year + ", " + itemSize %}
{% endif %}


{% block main %}

  <div class="sideColumn col">
		<div id="prevNextButtons">
			<a class="itemNextBtn button" title="Next: {{ next.title }}" href="/{{ next.path }}">NEXT &gt;</a>
			<a class="itemPrevBtn button" title="Previous: {{ previous.title }}" href="/{{ previous.path }}">&lt; PREVIOUS</a>&nbsp;&nbsp;&nbsp;
		</div>
		<section id="mainItemDetails" class="lowered boxLeft">
			<h1 itemprop="http://www.schema.org/name">{{ itemData.title }}</h1>
			<h3>{{ detail1 | safe }}</h3>
			<h2>{{ detail2 | safe }}</h2>
			<span itemprop="http://www.schema.org/description">{{ itemData.desc | safe }}</span>
		</section>
	</div>

	<div class="mainColumn col">
		<div id="itemImageMain">
			<img id="magnifiableImage" alt="Click to magnify" src="/images/items/main/{{ itemData.id }}.jpg">
		</div>
		<p class="alert boxLeft magnifyPrompt">mouse or slide over the picture to magnify it</p>
		<a href="/downloadImage.php?id=fabric" class="buttonSelected boxLeft downloadWallpaperBtn">download wallpaper</a>
	</div><!-- mainColumn -->
{% endblock %}


{% block bodyEndScripts %}
<script src="/js/FGMagnify_min.js"></script>
<script>
	uk.co.firmgently.FGMagnify.create("/images/items/hi_res/{{ itemData.id }}.jpg", "magnifiableImage", "1");
</script>
{% endblock %}
