{% macro create(items, section) %}
{% block main %}
<ul class="itemContainer">
	<li><ul class="boxRight">
		<h1>BUILDINGS in <strong>{{ section }}</strong></h1>
		{% for item in items %}
			<li><span class="captionedImage" style="max-width:76%;">
				<a href="/{{ item.path | stripIndexFromPath }}"><img alt="VIEW DETAILS: {{ item.title }}" title="VIEW DETAILS: {{ item.title }}" src="/images/items/thumbs/{{ item.id }}.jpg"></a>
				<h3>{{ item.title }} ({{ item.added }})</h3>
        {% if bodyClass == "words" %}{{ item.excerpt }}{% endif %}
			</span></li>
		{% endfor %}
	</ul></li>
</ul><!-- itemContainer -->
{% endblock %}
{% endmacro %}
