{% extends "fg-template.njk" %}


{# work out item details #}
{% if itemData.size %}
	{% set itemSize = itemData.size %}
{% else %}
	{% set itemSize = itemData.w + "&nbsp;x&nbsp;" + itemData.h + "cm" %}
{% endif %}

{% set datetimeMarkup = "<meta itemProp=\"datePublished\" content=\"" + dateTime + "\"><time datetime=\"" + dateTime + "\">" + dateYear + "</time>" %}

{% set bodyClass = itemType %}

{% if (itemType == "art") %}
  {% set microdata_type="https://schema.org/Painting" %}
	{% set detail1 = itemData.materials + ", " + itemSize %}
  {% set detail2 = datetimeMarkup %}
{% elif itemType == "object" %}
  {% set microdata_type="https://schema.org/Sculpture" %}
	{% set detail1 = itemData.materials + ", " + itemSize %}
  {% set detail2 = datetimeMarkup %}
{% elif itemType == "photo" %}
  {% set microdata_type="https://schema.org/Photograph" %}
  {% set detail1 = itemData.location + ", " + datetimeMarkup %}
	{% set detail2 = "Camera: " + itemData.camera %}
{% else %} {# WEB #}
  {% set microdata_type="https://schema.org/Website" %}
	{% set detail1 = itemData.client %}
	{% if itemData.agency %}
		{% set detail1 = detail1 + " / " + itemData.agency %}
	{% endif %}
  {% set detail2 = datetimeMarkup + ", " + itemSize %}
{% endif %}


{% block main %}
   
  <meta itemprop="creator" content="Mark Mayes">

  <div class="side-column">
		<section class="item-details">
			<h1 itemprop="http://www.schema.org/name">{{ itemData.title }}</h1>
			<h3>{{ detail1 | safe }}</h3>
			<h2>{{ detail2 | safe }}</h2>
			<span itemprop="http://www.schema.org/description">{{ itemData.desc | safe }}</span>
		</section>
		{{ insertPageTags() }}
    {{ insertPrevNextBtns() }}
	</div>

	<div class="main-column">
		<div id="pic" class="item-image">
			<img id="magnifiable-image" alt="Click to magnify" src="/images/items/main/{{ itemData.id }}.jpg">
		</div>
    <p class="alert magnify-prompt">slide mouse/finger over pic to magnify</p>
    <a href="/images/items/hi_res/{{ itemData.id }}.jpg" download="{{ itemData.title }} ({{ sitedata.site_name }})" class="download-wallpaper-btn">download wallpaper</a>
	</div><!-- main-column -->

{% endblock %}


{% block bodyEndScripts %}
<script src="/js/FGMagnify.min.js"></script>
<script>
	uk.co.firmgently.FGMagnify.create("/images/items/hi_res/{{ itemData.id }}.jpg", "magnifiable-image", false);
</script>
{% endblock %}
