{% extends "fg-template.njk" %}

{% set microdata_type="https://schema.org/Article" %}


{% block main %}

  <div class="main-column">


    {{ insertPrevNextBtns() }}

    <article>
      <header>
        <h1>{{ title }}</h1>
        <em>reading time: {{ contents | striptags | wordcount | averageReadTime }}</em>
        <div>
          <span>Posted on <meta itemprop="datePublished" content="{{ dateTime }}"><time datetime="{{ dateTime }}">{{ dateNice }}</time></span>
        </div>
      </header>

      <div>{{ contents | safe }}</div>

      <footer>
        {% set comma = joiner(", ") %}
        <span>Posted in {% for tag in tags -%}{{ comma() }}<a href="/topics/{{ tag.slug }}" rel="category tag">{{ tag.name }}</a>{% endfor %}</span>
      </footer>
    </article>

    {{ insertPrevNextBtns() }}


    <aside>
      <h3>Latest</h3>
      <ul>
        {%- for post in (collections.words) -%}
          {% if loop.index0 < data.config.consts.RECENT_POSTS_NUM_TO_SHOW -%}
            <li><a href="/{{ post.path | stripIndexFromPath }}">{{ post.title }}</a></li>
          {%- endif %}
        {%- endfor -%}
      </ul>
    </aside>


  </div>
{% endblock %}
