{% extends "fg-template.njk" %}

{% set microdata_type="https://schema.org/Article" %}


{% block main %}

  <div class="side-column">
		{{ insertPrevNextBtns() }}
    <aside class="latest-posts">
      <h3>Latest</h3>
      <ul>
        {%- for post in (collections.word) -%}
          {% if loop.index0 < data.config.consts.RECENT_POSTS_NUM_TO_SHOW -%}
            <li><a href="/{{ post.path | stripIndexFromPath }}">{{ post.title }}</a></li>
          {%- endif %}
        {%- endfor -%}
      </ul>
    </aside>
  </div>

  <div class="main-column">
    <article>
      <header>
        <h1>{{ title }}</h1>
				<span><meta itemprop="datePublished" content="{{ dateTime }}"><time datetime="{{ dateTime }}">{{ dateNice }}</time></span>
        <em>{{ contents | striptags | wordcount | averageReadTime }} read</em>
      </header>
      {{ contents | safe }}

			{{ insertPageTags() }}
    </article>
  </div>

  {{ insertPrevNextBtns() }}

{% endblock %}
