{#
  some data (eg sitedata{}) is imported from config.json by metalsmith-data
  (see build.json)
#}


{% set title = title + sitedata.title_suffix %}
{% set title_stripped = title | striptags %}
{% set desc = desc | default(sitedata.site_desc) %}
{% set share_thumbnail = share_thumbnail | default(sitedata.share_thumbnail) %}
{% set desc_stripped = desc | striptags %}
{% set url_tidied = url %}


<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:firmgently="{{ sitedata.domain }}/ns#">

<head>
  <meta charset="utf-8">
  <meta name="title" content="{{ title_stripped }}">
  <meta name="description" content="{{ desc_stripped }}">
  <meta name="robots" content="noodp,noydir">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{ title_stripped }}">
  <meta property="og:type" content="{{ og_type }}">
  <meta property="og:url" content="{{ url_tidied }}">
  <meta property="og:image" content="{{ sitedata.domain }}/images/{{ share_thumbnail }}">
  <meta property="og:site_name" content="{{ sitedata.site_name }}">
  <meta property="og:description" content="{{ desc }}">
  <meta property="fb:app_id" content="{{ sitedata.fb_appID }}">
  <meta property="fb:admins" content="{{ sitedata.fb_admins }}">

  <title>{{ title }}</title>

  <link rel="shortcut icon" href="{{ sitedata.favicon }}">
  <link rel="image_src" href="{{ sitedata.domain }}/images/{{ share_thumbnail }}">

  <link rel="stylesheet" href="/css/main.css">
  {% block extraCSS %}{% endblock %}
</head>


<body class="{{ bodyClass }}">
  <div id="bodyWrapper">
    <div id="main">

      <header id="fg-header">
        <a id="titleImage" alt="{{ sitedata.simple_domain }}" title="{{ sitedata.simple_domain }}" href="/index.htm">{{ sitedata.simple_domain }}</a>
        <nav id="fg-nav-main">
          <ul>
            <li id="nav_art"><a class="button" href="/art.htm">Art</a></li>
            <li id="nav_photos"><a class="button" href="/photos.htm">Photos</a></li>
            <li id="nav_objects"><a class="button" href="/objects.htm">Objects</a></li>
            <li id="nav_web"><a class="button" href="/web.htm">Web</a></li>
            <li id="nav_contact"><a class="button" href="/contact.htm">Contact</a></li>
         </ul>
        </nav>
      </header>
      
      <section itemscope itemtype="{{ microdata_type }}" id="content" class="row col">{% block main %}{% endblock %}</section><!-- content -->
      
      <ul id="socialImageButtons">
        <li><a href="http://pinterest.com/pin/create/button/?url={{ url_tidied }}&amp;description={{ desc_escaped }}&amp;media={{ sitedata.domain }}/images/{{ share_thumbnail }}" title="Pin it"><img id="pinterestImageButton" title="Pin it" src="/images/shim.png" alt="Pin it"></a></li>
        <li><a href="http://www.facebook.com/sharer.php?u={{ url_tidied }}&amp;t={{ desc_escaped }}" title="Share this on Facebook"><img id="facebookImageButton" title="Share this on Facebook" src="/images/shim.png" alt="Share this on Facebook"></a></li>
        <li><a href="https://plus.google.com/share?url={{ url_tidied }}&amp;title={{ title_escaped }}" title="Post this on Google+"><img id="googlePlusImageButton" title="Post this on Google+" src="/images/shim.png" alt="Post this on Google+"></a></li>
        <li><a href="http://twitter.com/share?url={{ url_tidied }}&amp;text={{ desc_escaped }}" title="Tweet this"><img id="twitterImageButton" title="Tweet this" src="/images/shim.png" alt="Tweet this"></a></li>
        <li><a href="http://www.stumbleupon.com/submit?url={{ url_tidied }}&amp;title={{ title_escaped }}" title="Share this on StumbleUpon"><img id="stumbleUponImageButton" title="Share this on StumbleUpon" src="/images/shim.png" alt="Share this on StumbleUpon"></a></li>
        <li>{{ sitedata.share_attract | safe }}</li>
      </ul>

    </div><!-- main -->
    
    <div id="push"></div>
  </div><!-- bodyWrapper -->
  
  <footer class="fgfooter row">
    <span class="footerLeft col">{{ sitedata.footer_altsite | safe }}
      <span class="footerMid col">Content and site&nbsp;<span class="copyright">&copy;</span>&nbsp;Mark Mayes</span>
    </span>
    <span class="footerRight col">{{ sitedata.footer_quote | safe }}</span>
  </footer>
  
  {% block bodyEndScripts %}{% endblock %}
  {% block analytics %}{% endblock %}
  
</body>


</html>
