{#

  NOTE -
  some data (eg sitedata{}) is imported from config.json by metalsmith-data
  (see build.json)
  
#}
{% set pageTitle = (itemData.title | default(title) | default(sitedata.site_name)) + sitedata.title_suffix %}
{% set pageTitle_stripped = pageTitle | striptags %}
{% set pageTitle_urlEncoded = pageTitle_stripped | urlencode %}
{% set desc = itemData.desc | default(desc) | default(sitedata.site_desc) %}
{% set desc_stripped = desc | striptags %}
{% set share_thumbnail = itemData.share_thumbnail | default(share_thumbnail) | default(sitedata.share_thumbnail) %}
{% set url = sitedata.domain + "/" + path %}
{#
#}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:firmgently="{{ sitedata.domain }}/ns#">

<head>
  <meta charset="utf-8">
 
  <meta name="title" content="{{ pageTitle_stripped }}">
  <meta name="description" content="{{ desc_stripped }}">
  <meta name="robots" content="noodp,noydir">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ pageTitle_stripped }}">
  <meta property="og:type" content="{{ og_type }}">
  <meta property="og:url" content="{{ url }}">
  <meta property="og:image" content="{{ sitedata.domain }}/images/{{ share_thumbnail }}">
  <meta property="og:site_name" content="{{ sitedata.site_name }}">
  <meta property="og:description" content="{{ desc_stripped }}">

  <title>{{ pageTitle }}</title>

  <link rel="shortcut icon" href="{{ sitedata.favicon }}">
  <link rel="image_src" href="{{ sitedata.domain }}/images/{{ share_thumbnail }}">

  <link rel="stylesheet" href="/css/main.css">
  {% block extraCSS %}{% endblock %}
</head>


<body class="{{ bodyClass }}">
  <div id="bodyWrapper">
    <div id="main">

      {#
        fontsizeFromTagWeight() filter:
        weight of tag is piped in as the first parameter
        bracket params are (minSize, maxSize, numSizes)
        minSize, maxSize represent min/max values that can be returned
        numSizes is how many different sizes will be available
      #}
      <header id="fg-header">
        <a id="titleImage" alt="{{ sitedata.simple_domain }}" title="{{ sitedata.simple_domain }}" href="/">{{ sitedata.simple_domain }}</a>
        <nav id="fg-nav-main">
          <ul>
{%- for word in cloud -%}
    
  {%- if word.ctg %}

    {% set matchFound = false %}

    {%- if (word.ctg == tag) %}
      {% set matchFound = true %}
    {% endif %}

    {%- if (itemData and (itemData.tags.indexOf(word.ctg) != -1)) %}
      {% set matchFound = true %}
    {% endif %}

    {% if tags %}
      {% for tag in tags %}
        {% if tag.name == word.ctg %}
          {% set matchFound = true %}
        {% endif %}
      {% endfor %}
    {% endif %}
 
    {%- if matchFound %}
      {% set classattr = "class=\"selected\" " %}
    {% else %}
      {% set classattr = "" %}
    {% endif %}
   
    <li><a {{ classattr | safe }}style="font-size: {{ word.wght | fontsizeFromTagWeight(0.8, 2, 60) }}rem" href="{{ word.pth }}">{{ word.ctg }}</a></li>
 
  {% endif %}

{%- endfor %}
         </ul>
        </nav>
      </header>
      
      
      <section {% if microdata_type %}itemscope itemtype="{{ microdata_type }}" {% endif %}id="content" class="row col">
			{% block main %}{{ contents | safe }}{% endblock %}
			</section><!-- content -->


      <ul id="socialImageButtons">
        <li><a href="http://pinterest.com/pin/create/button/?url={{ url }}&amp;description={{ desc_escaped }}&amp;media={{ sitedata.domain }}/images/{{ share_thumbnail }}" title="Pin it"><img id="pinterestImageButton" title="Pin it" src="/images/shim.png" alt="Pin it"></a></li>
        <li><a href="http://www.facebook.com/sharer.php?u={{ url }}&amp;t={{ desc_escaped }}" title="Share this on Facebook"><img id="facebookImageButton" title="Share this on Facebook" src="/images/shim.png" alt="Share this on Facebook"></a></li>
        <li><a href="https://plus.google.com/share?url={{ url }}&amp;title={{ pageTitle_urlEncoded }}" title="Post this on Google+"><img id="googlePlusImageButton" title="Post this on Google+" src="/images/shim.png" alt="Post this on Google+"></a></li>
        <li><a href="http://twitter.com/share?url={{ url }}&amp;text={{ desc_escaped }}" title="Tweet this"><img id="twitterImageButton" title="Tweet this" src="/images/shim.png" alt="Tweet this"></a></li>
        <li><a href="http://www.stumbleupon.com/submit?url={{ url }}&amp;title={{ pageTitle_urlEncoded }}" title="Share this on StumbleUpon"><img id="stumbleUponImageButton" title="Share this on StumbleUpon" src="/images/shim.png" alt="Share this on StumbleUpon"></a></li>
        <li>{{ sitedata.share_attract | safe }}</li>
      </ul>

    </div><!-- main -->
    
    <div id="push"></div>
  </div><!-- bodyWrapper -->


  <footer class="fgfooter row">
    <span class="footerLeft col">{{ sitedata.footer_altsite | safe }}
      <span class="footerMid col">Content and site&nbsp;<span class="copyright">&copy;</span>&nbsp;Mark Mayes</span>
    </span>
    <span class="footerRight col">{{ sitedata.footer_quote | safe }}</span>
  </footer>
  
  {% block bodyEndScripts %}{% endblock %}

  {% block analytics %}{% endblock %}
  
</body>


</html>
