{#

  GENERAL NOTE -
  some data (eg sitedata{}) is imported from config.json by metalsmith-data
  (see build.json)
  
#}



{# makes clickable tag cloud from cloud data #}
{% macro createTagCloud(cloud) %}
<ul>
  {%- for word in cloud -%}
  {# look for data in this page which matches the tag #}
  {%- if word.ctg %} {# skip empty categories #}
    {% set matchFound = false %}
    {%- if (word.ctg == tag) %}
      {% set matchFound = true %}
    {% endif %}
    {%- if (itemData and (itemData.tags.indexOf(word.ctg) != -1)) %}
      {% set matchFound = true %}
    {% endif %}
    {% if tags %}
      {% for tag in tags %}
        {% if tag.name == word.ctg %}
          {% set matchFound = true %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {# class this tag as selected or not #}
    {%- if matchFound %}
      {% set classattr = "class=\"selected\" " %}
    {% else %}
      {% set classattr = "" %}
    {% endif %}
    {# create tag markup #}
    <li><a {{ classattr | safe }}style="font-size: {{ word.wght | fontsizeFromTagWeight(0.8, 2, 60) }}rem" href="{{ word.pth }}">{{ word.ctg }}</a></li>
  {% endif %}
{%- endfor %}
<ul>
{% endmacro %}



{# creates single item for list pages eg. home/topics #}
{% macro createItem(item) -%}
<a href="/{{ item.path | stripIndexFromPath }}">
{% if item.itemData %} {# standard item #}
	<figure>
		<img src="/images/shim.png" style="background-image: url('/images/items/thumbs/{{ item.itemData.id }}.jpg')" />
		<figcaption>
			{%- if item.itemData.client -%}
        {% set details = item.itemData.client + " / " + item.itemData.year %}
			{%- else -%}
        {% set details = item.itemData.w + "x" + item.itemData.h + "cm / " + item.itemData.materials + " / " + item.itemData.year %}
			{%- endif -%}
      <h2>{{ item.itemData.title }}</h2><em>{{ details }}</em>
		</figcaption>
  </figure>
{% else %} {# post #}
      <h2>{{ item.title }}</h2><em>{{ item.excerpt | safe }}</em>
{% endif %}
</a>
{%- endmacro %}



{# receives collection items which have path/title properties #}
{% macro insertPrevNextBtns(prev, next) %}
<nav class="prev-next-btns" role="navigation">
  <h2 class="screen-reader-text">Post navigation</h2>
  {%- if previous %}<a href="/{{ previous.path }}" rel="prev">&lt;&lt;{{ previous.title }}</a>{% endif %}
  {% if next %}<a href="/{{ next.path }}" rel="next">{{ next.title }} &gt;&gt;</a>{%- endif %}
</nav>
{% endmacro %}



{% set pageTitle = (itemData.title | default(title) | default(sitedata.site_name)) + sitedata.title_suffix %}
{% set pageTitle_stripped = pageTitle | striptags %}
{% set pageTitle_urlEncoded = pageTitle_stripped | urlencode %}
{% set desc = itemData.desc | default(desc) | default(sitedata.site_desc) %}
{% set desc_stripped = desc | striptags %}
{% set share_thumbnail = itemData.share_thumbnail | default(share_thumbnail) | default(sitedata.share_thumbnail) %}
{% set url = sitedata.domain + "/" + path %}


<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:firmgently="{{ sitedata.domain }}/ns#">

<head>
  <meta charset="utf-8">
 
  <meta name="title" content="{{ pageTitle_stripped }}">
  <meta name="description" content="{{ desc_stripped }}">
  <meta name="robots" content="noodp,noydir">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ pageTitle_stripped }}">
  <meta property="og:type" content="{{ og_type }}">
  <meta property="og:url" content="{{ url }}">
  <meta property="og:image" content="{{ sitedata.domain }}/images/{{ share_thumbnail }}">
  <meta property="og:site_name" content="{{ sitedata.site_name }}">
  <meta property="og:description" content="{{ desc_stripped }}">

  <title>{{ pageTitle }}</title>

  <link rel="shortcut icon" href="{{ sitedata.favicon }}">
  <link rel="image_src" href="{{ sitedata.domain }}/images/{{ share_thumbnail }}">

  {% block extraCSS %}{% endblock %}
</head>


<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
  <div class="body-wrapper">
    {#    <div id="main"> #}

      {#
        fontsizeFromTagWeight() filter:
        weight of tag is piped in as the first parameter
        bracket params are (minSize, maxSize, numSizes)
        minSize, maxSize represent min/max values that can be returned
        numSizes is how many different sizes will be available
      #}
      <header class="fg-header">
        <a class="title-image" alt="{{ sitedata.simple_domain }}" title="{{ sitedata.simple_domain }}" href="/">{{ sitedata.simple_domain }}</a>
        <nav class="fg-nav-main">{{ createTagCloud(cloud) }}</nav>
      </header>
      
      
      <section {% if microdata_type %}itemscope itemtype="{{ microdata_type }}" {% endif %}class="content">
			{% block main %}{{ contents | safe }}{% endblock %}
			</section><!-- content -->


      <a id="invert-colours-btn" href=""><img src="/images/yin-yang.svg" alt="Yin Yang symbol" class="icon"></a>

      {#  </div><!-- main --> #}
    
  </div><!-- bodyWrapper -->


  <footer class="fg-footer">
    <span>
      <ul>
        <li><img src="/images/yin-yang.svg" alt="Yin Yang symbol" class="icon"></li>
        <li><img src="/images/feed-icon.svg" alt="RSS Feed symbol" class="icon"></li>
      </ul>
      <span>Content and site&nbsp;<span class="copyright">&copy;</span>&nbsp;Mark Mayes</span>
    </span>
    <span>{{ sitedata.footer_quote | safe }}</span>
  </footer>
  
  {% block bodyEndScripts %}{% endblock %}

  {% block analytics %}{% endblock %}
  
</body>


</html>
