{% extends "fg-template.njk" %}


{% block main %}
  <div class="main-column">
  <ul class="item-list-container">
    {% for page in pagination.files %}
      <li>{{ createItem(page) }}</li>
    {% endfor %}
  </ul>
  </div>
{% endblock %}
