@font-face {
  font-family: 'fg_bold';
  src: url('/fonts/titilliumweb-bold.woff2') format('woff2'),
    url('/fonts/titilliumweb-bold.woff') format('woff');
}
@font-face {
  font-family: 'fg_medium';
  src: url('/fonts/titilliumweb-light.woff2') format('woff2'),
    url('/fonts/titilliumweb-light.woff') format('woff');
}
@font-face {
  font-family: 'fg_hireme';
  src: url('/fonts/billo.woff2') format('woff2'),
    url('/fonts/billo.woff') format('woff');
}
