/*
@font-face {
  font-family: 'FG_Bold';
  src: url('/fonts/TitilliumWeb-Bold-webfont.eot?') format('eot'),
    url('/fonts/TitilliumWeb-Bold-webfont.woff2') format('woff2'),
    url('/fonts/TitilliumWeb-Bold-webfont.woff') format('woff'),
    url('/fonts/TitilliumWeb-Bold-webfont.svg#TitilliumWebRegular')
      format('svg'),
    url('/fonts/TitilliumWeb-Bold-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'FG_Medium';
  src: url('/fonts/TitilliumWeb-Light-webfont.eot?') format('eot'),
    url('/fonts/TitilliumWeb-Light-webfont.woff2') format('woff2'),
    url('/fonts/TitilliumWeb-Light-webfont.woff') format('woff'),
    url('/fonts/TitilliumWeb-Light-webfont.svg#TitilliumWebLight') format('svg'),
    url('/fonts/TitilliumWeb-Light-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'FG_HireMe';
  src: url('/fonts/billo___-webfont.eot?') format('eot'),
    url('/fonts/billo___-webfont.woff2') format('woff2'),
    url('/fonts/billo___-webfont.woff') format('woff'),
    url('/fonts/billo___-webfont.svg#TitilliumWebLight') format('svg'),
    url('/fonts/billo___-webfont.ttf') format('truetype');
}
*/
