@import '_animations.scss';
@import '_base.scss';
@import '_sizes.scss';
@import '_mixins.scss';
@import '_font-face.scss';

/* ////////////////////////////////////////////////////////////////////////// */
/* CONTAINERS */

html,
body {
  height: 100%;
  font-size: 100%;
}
.screen-reader-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  &:focus {
    left: $pad-med;
    width: auto;
    height: auto;
  }
}
body.wrapper {
  @include flexbox;
  @include align-items(stretch);
  @include flex-direction(column);
  min-height: 100%;
  background-color: $main-bg2;
  color: $text-colour-main;
  font-family: 'FG_Medium', 'Tahoma', 'Arial', 'Nimbus Sans L';
  line-height: 1.5rem;
  .content {
    @include flex-grow(1);
  }
  .site-header,
  .content,
  .site-footer {
    @include flex-shrink(0);
  }
  .site-header {
    @include flexbox;
    @include flex-flow(row nowrap);
    @include justify-content(flex-start);
    @include align-items(center);
    .title-image {
      background: none;
      img {
        display: inline-block;
        background-image: $title-image;
        background-size: cover;
        background-position: 0 0;
        width: 9rem;
        height: 0;
        padding: calc(60 / 91 * 100%) 0 0 0;
      }
      &:hover img {
        background-position: -100% 0;
      }
    }
  }
  .content {
    @include flexbox;
    @include flex-flow(row wrap);
    .side-column {
      @include flex(1, 1, $side-col-min-width);
    }
    .main-column {
      @include flex(2, 1, $main-col-min-width);
    }
    .widget {
      @include flex(1, 0, $side-col-min-width);
    }
  }
  .site-footer {
    @include flexbox;
    @include flex-flow(row nowrap);
    @include justify-content(space-between);
    @include align-items(center);
    padding-top: $pad-big;
    > span:first-of-type {
      a {
        clear: both;
      }
    }
    > span:last-of-type {
      float: right;
      @include align-self(flex-end);
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
/* consistent page padding (mobile) */
.side-column,
.main-column,
.widget,
.site-footer,
.site-header {
  padding: $pad-med $small-page-padding-right $pad-big $small-page-padding-left;
}
blockquote {
  margin-bottom: $pad-huge;
  padding: $pad-med $pad-med;
  cite {
    margin-top: $pad-med;
    display: block;
  }
}
p,
h2,
h3 {
  margin-bottom: $pad-med;
}
article > header,
article > footer,
article + nav {
  margin-bottom: $pad-huge;
}
article > footer {
  margin-top: $pad-big;
}
.item-list-container {
  @include flexbox;
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include align-content(flex-start);
  @include justify-content(space-around);
  li {
    overflow-wrap: break-word;
    @include flex(0, 1, $list-item-w);
    height: $list-item-h;
    overflow: hidden;
    margin: $pad-med $pad-med $pad-huge 0;
    position: relative;
    a {
      @include border-radius($pad-med);
      overflow: hidden;
      display: inline-block;
      position: absolute;
      border: solid $pad-med $button-bg-colour;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      &:hover {
        border-color: $button-highlight-color;
      }
      > figure {
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 1;
        > img {
          width: 100%;
          background-position: center;
          background-size: cover;
          position: absolute;
          z-index: -1;
          @include border-radius($pad-sma);
        }
        > figcaption {
          padding: $pad-tiny;
          vertical-align: bottom;
          > h2 {
            padding: $pad-sma;
            margin-bottom: $pad-sma;
            @include border-radius(0 0 $pad-sma $pad-sma);
            display: block;
            background-color: rgba($button-highlight-color, 0.5);
            text-transform: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      > h2,
      > p {
        text-transform: none;
        margin: 0;
        padding: 0;
        display: inline;
      }
      > h2 {
        font-size: 2rem;
        font-style: italic;
        padding-right: 2rem;
      }
      > p {
        color: $text-colour-main;
        font-size: 1.5rem;
      }
    }
  }
}
.prev-next-btns {
  display: block;
  margin-bottom: $pad-big;
  overflow: auto; /* clear floated children */
  a:first-of-type {
    float: left;
  }
  a:last-of-type {
    float: right;
  }
}
a,
a:hover,
a:active {
  text-decoration: none;
  text-transform: uppercase;
  color: $text-colour-alt;
  background-color: $button-bg-colour;
  position: relative;
}
a:hover,
a:active {
  color: $text-colour-strong2;
  background-color: $button-highlight-color;
}
strong {
  font-weight: 800;
}
em {
  font-style: italic;
}
nav.site-nav {
  ul {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(flex-end);
    @include align-items(center);
    li {
      display: inline-block;
      margin: 0 $pad-sma;
      &:first-of-type {
        margin-bottom: $pad-sma;
        margin-right: $pad-med;
      }
      &:last-of-type {
        margin-top: $pad-med;
        margin-bottom: 0-$pad-med;
        margin-left: $pad-med;
      }
      &:nth-of-type(6n+1) {
        a,
        a:hover,
        a:active {
          transform: rotate(-4deg);
        }
      }
      &:nth-of-type(6n+2) {
        a,
        a:hover,
        a:active {
          transform: rotate(-13deg);
        }
      }
      &:nth-of-type(6n+3) {
        a,
        a:hover,
        a:active {
          transform: rotate(0deg);
        }
      }
      &:nth-of-type(6n+4) {
        a,
        a:hover,
        a:active {
          transform: rotate(10deg);
        }
      }
      &:nth-of-type(6n+5) {
        a,
        a:hover,
        a:active {
          transform: rotate(-10deg);
        }
      }
      &:nth-of-type(6n+6) {
        a,
        a:hover,
        a:active {
          transform: rotate(4deg);
        }
      }
      a,
      a:hover,
      a:active {
        font-weight: bold;
        display: inline-block;
        padding: 0.25rem 0.5rem;
        z-index: 0;
      }
      a:hover,
      a:active {
        z-index: 1;
      }
      a.is,
      a.is:hover,
      a.is:active {
        color: $button-highlight-color;
        background-color: $button-bg-colour-strong;
        z-index: 1;
      }
    }
  }
}
.invert-colour {
  @include align-self(flex-end);
}
a.icon.btn {
  display: inline-block;
  background: none;
  @include opacity(0.8);
  &:hover {
    @include opacity(1);
  }
  img {
    height: $icon-size;
    width: $icon-size;
  }
}

/* ////////////////////////////////////////////////////////////////////////// */
/*MAGNIFIER*/

#magnifiableImage {
  width: $main-image-width-small;
  cursor: zoom-in;
}
#mag {
  z-index: 9999;
  border: solid 2px #b2b1a9;
  background-image: url(/images/light/magEmptyBg.png);
  overflow: hidden;
  position: absolute;
  top: $pad-sma;
  left: $pad-sma;
  img {
    border: none;
    background: none;
  }
}
#magInner {
  overflow: hidden;
}
#hiResImg {
  border: none;
  display: inline-block;
  position: relative;
}
#loupe {
  border: dotted 1px $text-colour-strong2;
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: all-scroll;
  background-image: url(/images/light/loupeBg.png);
}
#magImgLdingMsg,
#magLdingMsg {
  padding: $pad-med;
  position: absolute;
  line-height: 1.2em;
}
#magImgLdingMsg {
  top: 12px;
}
/* ////////////////////////////////////////////////////////////////////////// */
/*HIRE ME ANIMATION*/
#hireMe {
  min-width: side-col-w-medium; margin-bottom: $pad-big; float: right;
  ul {
    list-style-type: none;
    list-style-image: url(/images/light/bullet.png);
    padding: 0 $pad-big;
  }
  #hireMeAnim {
    cursor: default;
    line-height: 69px;
    padding: 0;
    width: 100%; height: 69px; display: inline-block; overflow: hidden; position: relative;
    background-color: #6c898f;
    background-image: url(/images/hireMeStars.png);
    text-align: center;
    @include border-radius($pad-sma);
    @include transition(all $transition-speed-spin $transition-style-sink);
    h2 {
      font-family: "FG_HireMe","Tahoma","Arial","Nimbus Sans L";
      color: #ffff63;
      position: absolute; z-index: 3; width: 100%;
      text-align: justify; word-spacing: -10px; padding: 0 1em; font-size: 4em; top: 0.1em;
      @include transition(all $transition-speed-spin/6 ease-out);
      &:after {
        content: "";
        display: inline-block;
        width: 100%;
      }
    }
    img {
      position: absolute; top: 30px; left: 50%; margin-left: -88px;
      @include transition(all $transition-speed-spin $transition-style-sink);
    }
    &:hover {
      background-color: #ffffff;
      h2 { color: $text-colour-alt; font-size: 5em; }
      img {
        top: -10px;
        @include animation(centred-spin $transition-speed-spin $transition-style-spin infinite);
      }
    }
  }
}

/* ////////////////////////////////////////////////////////////////////////// */
/* */
@import '_media-queries.scss';
