@import '_animations.scss';
@import '_base.scss';
@import '_sizes.scss';
@import '_mixins.scss';
@import '_font-face.scss';

/* ////////////////////////////////////////////////////////////////////////// */
/* COLOURS */

$text-dimmed-main: mix($text-colour-main, $main-bg, 40%);
$text-dimmed-less: mix($text-colour-main, $main-bg, 60%);
$text-dimmed-slight: mix($text-colour-main, $main-bg, 90%);

/* ////////////////////////////////////////////////////////////////////////// */
/*  */

html,
body {
  height: 100%;
  font-size: 100%;
}
.screen-reader-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  &:focus {
    left: $pad-med;
    width: auto;
    height: auto;
  }
}
body.wrapper {
  @include flexbox;
  @include align-items(stretch);
  @include flex-direction(column);
  min-height: 100%;
  background-color: $main-bg2;
  color: $text-dimmed-less;
  font-family: 'Tahoma', 'Arial', 'Nimbus Sans L';
  /*font-family: 'FG_Medium', 'Tahoma', 'Arial', 'Nimbus Sans L';*/
  form,
  .content {
    @include flex-grow(1);
    label,
    h1 {
      font-weight: lighter;
    }
    h1 {
      font-size: 1.75rem;
      line-height: 1.85rem;
      margin-bottom: $pad-med;
    }
  }
  form,
  .site-header,
  .content,
  .site-footer {
    @include flex-shrink(0);
  }
  .site-header {
    @include flexbox;
    @include flex-flow(row nowrap);
    @include justify-content(flex-start);
    @include align-items(center);
    .title-image {
      margin-bottom: 0;
      background: none;
      img {
        display: inline-block;
        background-image: $title-image;
        background-size: cover;
        background-position: 0 0;
        width: 6rem;
        height: 0;
        padding: calc(60 / 91 * 100%) 0 0 0;
      }
      &:hover img {
        background-position: -100% 0;
      }
    }
  }
  form,
  .content {
    @include flexbox;
    @include flex-flow(row wrap);
    margin-top: $pad-sma;
    font-size: 1.2rem;
    line-height: 1.5rem;
    .side-column {
      @include flex(1, 1, $side-col-min-width);
      order: 2;
      h2 {
        font-weight: lighter;
        margin-top: $pad-big;
        &:first-of-type {
          margin-top: $pad-med;
        }
      }
    }
    .main-column {
      @include flex(2, 1, $main-col-min-width);
      order: 1;
      > article {
        h2,
        h3 {
          margin-top: $pad-big;
        }
        > ul {
          li {
            background-image: $bullet-image;
            background-repeat: no-repeat;
            background-position: 0.5rem 0.9rem;
            padding-left: $pad-med;
            margin-bottom: $pad-huge;
            li {
              margin-bottom: $pad-med;
            }
          }
        }
        code {
        /*  background-color: $main-bg;*/
        }
        > img,
        > p > img,
        figure {
          max-width: 33%;
          float: left;
          clear: both;
          margin-left: 0;
          padding-right: $pad-med;
        }
        figure {
          img {
            width: 100%;
          }
          figcaption {
            padding: $pad-med 0 $pad-med 0;
            text-align: right;
            color: $text-dimmed-less;
          }
        }
      }
    }
    .widget {
      @include flex(1, 0, $side-col-min-width);
    }
  }
  .site-footer {
    @include flexbox;
    @include flex-flow(column wrap);
    @include justify-content(flex-start);
    @include align-items(center);
    padding-top: $pad-footer-top;
    span {
      width: 100%;
    }
    p,
    a {
      margin-right: $pad-med;
    }
    p {
      color: $text-dimmed-less;
      margin-bottom: $pad-sma;
      &:first-of-type {
        font-size: 1.15rem;
        font-style: italic;
        margin-bottom: $pad-med;
        margin-top: $pad-med;
      }
      &:last-of-type {
        color: $text-dimmed-main;
      }
    }
    a {
      vertical-align: middle;
      padding-left: 0;
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-weight: lighter;
  text-transform: uppercase;
  color: $text-colour-strong;
}
h2 {
  font-size: 1.33rem;
}
h3 {
  font-size: 1.15rem;
}
footer.page-tags {
  margin-top: $pad-huge;
  h3,
  ul,
  li {
    display: inline;
  }
}
/* consistent page padding (mobile) */
.side-column,
.main-column,
.prev-next-btns,
.site-footer,
.site-header {
  padding: $pad-sma $small-page-padding-right $pad-big $small-page-padding-left;
}
.site-footer {
  padding-bottom: $pad-med;
}
blockquote {
  margin-top: $pad-med;
  margin-bottom: $pad-huge;
  padding: 0 $pad-med 0 $pad-med;
  border-left: solid $pad-sma $main-bg;
  cite {
    margin-top: $pad-med;
    display: block;
  }
}
p,
h2,
h3 {
  margin-bottom: $pad-med;
}
article > header,
article > footer,
article + nav {
  margin-bottom: $pad-huge;
}
article > header {
  span,
  em {
    color: $text-colour-strong;
  }
  span {
    /* date */
  }
  em {
    /* reading time */
    float: right;
  }
}
article > footer {
  margin-top: $pad-big;
  clear: both;
}
aside.latest-posts {
  margin-top: $pad-huge;
  li {
    margin-bottom: $pad-med;
  }
}
.item-list-container {
  @include flexbox;
  @include flex-wrap(wrap-reverse);
  @include flex-direction(row);
  @include align-content(center);
  @include justify-content(space-between);
  li {
    overflow-wrap: break-word;
    @include flex(1, 0, $list-item-w);
    height: $list-item-h;
    overflow: hidden;
    margin: $pad-med $pad-med $pad-huge 0;
    position: relative;
    a {
      @include border-radius($pad-med);
      overflow: hidden;
      display: inline-block;
      position: absolute;
      border: solid $pad-med $button-bg-colour;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      > figure {
        margin: 0;
        padding: 0;
        position: relative;
        height: 100%;
        z-index: 1;
        > img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          &.portrait {
          }
          position: absolute;
          z-index: -1;
          @include transition(all 36s ease-out 0.15s);
          @include border-radius($pad-sma);
        }
        > figcaption {
          padding: $pad-tiny;
          position: absolute;
          left: 0;
          right: 0;
          height: 1.5rem;
          bottom: calc(1rem + (#{$pad-tiny}* 2));
          > h2 {
            font-weight: normal;
            padding: $pad-sma;
            margin-bottom: $pad-sma;
            @include border-radius(0 0 $pad-sma $pad-sma);
            display: block;
            background-color: rgba($button-highlight-color, 0.5);
            text-transform: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      &:hover {
        border-color: $button-highlight-color;
        > figure {
          > img {
            transform: scale(2);
            &.portrait {
            }
            @include transition(all 36s ease-out 0.33s);
          }
        }
        > p {
          &:after {
            @include gradient(
              top,
              rgba($button-highlight-color, 0),
              $button-highlight-color,
              $button-highlight-color
            );
          }
        }
      }
      > h2,
      > p {
        text-transform: none;
        margin: 0;
        padding: 0;
        display: inline;
      }
      > h2 {
        font-size: 1.66rem;
        font-weight: lighter;
        font-style: italic;
        padding-right: 0.5rem;
        line-height: 1.75rem;
      }
      > p {
        color: $text-colour-main;
        font-size: 1.25rem;
        &:after {
          content: 'more >>';
          text-align: right;
          display: inline-block;
          color: $text-colour-alt;
          @include gradient(
            top,
            rgba($button-bg-colour, 0),
            $button-bg-colour,
            $button-bg-colour
          );
          position: absolute;
          left: 0;
          right: 0;
          bottom: -1px; /* 0 leaves a gap, this fixes it */
          padding-top: 3rem;
          z-index: 1;
        }
      }
    }
  }
}
.prev-next-btns {
  display: block;
  width: 100%;
  overflow: auto; /* clear floated children */
  margin-bottom: $pad-med;
  a,
  a:link,
  a:hover,
  a:visited {
    width: 100%;
    display: inline-block;
    text-align: center;
    line-height: 1.33rem;
    padding: $pad-sma $pad-big;
    &:after {
      background: inherit;
      position: absolute;
      z-index: 2;
      top: calc(50% -  0.6em);
    }
    &:first-of-type {
      &:after {
        content: "\25ba";
        right: $pad-sma;
      }
    }
    &:last-of-type {
      &:after {
        content: "\25c4";
       left: $pad-sma;
      }
    }
  }
}
article,
.side-column {
  .prev-next-btns {
    padding: 0;
    margin-top: $pad-huge;
    a {
      /*white-space: nowrap;*/
      clear: both;
      margin-bottom: $pad-sma;
    }
  }
}
button,
button:hover,
button:active,
a,
a:hover,
a:active {
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: $button-bg-colour-strong;
  background-color: $button-bg-colour;
  position: relative;
  border: none;
  font-size: 0.9em; /* em not rem - relative to parent font size */
  padding-top: 0.05em;
  padding-bottom: 0.05em;
  @include transition(all $transition-speed-main $transition-style-main);
}
button:hover,
button:active,
a:hover,
a:active {
  color: $text-colour-strong2;
  background-color: $button-highlight-color;
}
strong {
  font-weight: 800;
}
em {
  font-style: italic;
}
nav.site-nav {
  @include flexbox;
  ul {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(flex-end);
    @include align-items(flex-end);
    max-width: $nav-max-width;
    width: 100%;
    /*transform: rotate(-3deg);*/
    margin-right: -2.5rem; /* fixes offset from twist/rotation */
    li {
      display: inline-block;
      margin-top: 0;
      &:last-of-type {
        /* yin-yang symbol */
      }
      /* set up nth-of-type(?n+?) cycle, creates --r vars, used to set rotation of inner <a> */
      @include cycle(
        --r,
        13deg,
        4deg,
        -7deg,
        0deg,
        -14deg,
        17deg,
        -9deg,
        14deg,
        0deg,
        30deg,
        -10deg,
        21deg,
        -37deg,
        8deg,
        -19deg,
        20deg,
        -10deg,
        21deg,
        -7deg,
        8deg,
        -19deg,
        7deg,
        -30deg
      );
      a,
      a:hover,
      a:active {
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0.25rem 0.5rem;
        transform: rotate(var(--r));
        z-index: 0;
      }
      a:hover,
      a:active {
        z-index: 1;
      }
      a.is,
      a.is:hover,
      a.is:active {
        color: $button-highlight-color;
        background-color: $button-bg-colour-strong;
        z-index: 1;
      }
    }
  }
}
a.icon.btn.invert-colour {
  @include align-self(flex-end);
  img {
    background-image: $invert-icon-image;
  }
}
a.icon.btn.feed {
  img {
    background-image: $feed-icon-image;
  }
}
a.icon.btn {
  display: inline-block;
  background: none;
  @include opacity(0.8);
  cursor: pointer;
  &:hover {
    @include opacity(1);
  }
  img {
    height: $icon-size;
    width: $icon-size;
    background-size: 100%;
  }
}

/* ////////////////////////////////////////////////////////////////////////// */
/* FORMS */
form {
  textarea,
  input {
    background-color: $button-bg-colour;
    color: $text-colour-strong2;
    border: none;
    font-size: 1.25rem;
    padding: $pad-sma;
    width: $form-field-width;
    @include border-radius($pad-sma);
  }
  textarea {
    height: 7rem;
  }
  button,
  button:hover,
  button:active {
    font-size: 1.25rem;
    display: block;
  }
  label {
    display: block;
    margin-top: $pad-med;
    &:first-child {
      margin-top: 0;
    }
  }
}

.item-details {
  h2,
  h3 {
    display: inline;
    font-style: italic;
  }
  h2 {
    margin-right: $pad-med;
  }
  h2 + span {
    margin-top: $pad-big;
    display: block;
  }
}

.item-image {
  position: relative;
  text-align: center;
  padding-top: $pad-med;
}

/* ////////////////////////////////////////////////////////////////////////// */
/*MAGNIFIER*/

#magnifiable-image {
  max-width: 90vw;
  max-height: 80vh;
  cursor: zoom-in;
}
#mag {
  z-index: 9999;
  border: solid 2px #b2b1a9;
  background-image: url(/images/light/magEmptyBg.png);
  overflow: hidden;
  position: absolute;
  top: $pad-sma;
  left: $pad-sma;
  img {
    border: none;
    background: none;
  }
}
#magInner {
  overflow: hidden;
}
#hiResImg {
  border: none;
  display: inline-block;
  position: relative;
  &.loading {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
}
#loupe {
  border: dotted 1px $text-colour-strong2;
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: all-scroll;
  background-image: $loupe;
}
#mag-image-loading-message {
  padding: $pad-sma;
  position: absolute;
  top: $pad-sma;
  left: $pad-sma;
  line-height: 1.2em;
  z-index: 2;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}
.magnify-prompt {
  margin-bottom: $pad-med;
  margin-top: $pad-sma;
  color: $text-colour-strong2;
}
.magnify-prompt,
.download-wallpaper-btn {
  width: 100%;
  text-align: center;
  display: inline-block;
}
/* ////////////////////////////////////////////////////////////////////////// */
/*HIRE ME ANIMATION*/
#hire-me {
  margin-bottom: $pad-big;
  ul {
    list-style-type: none;
    list-style-image: url(/images/light/bullet.png);
    padding: 0 $pad-big;
    li {
      display: inline-block;
    }
  }
  #hire-me-anim {
    cursor: default;
    padding: 0;
    width: 100%;
    padding-bottom: 60%;
    display: inline-block;
    overflow: hidden;
    position: relative;
    background-color: $main-bg;
    background-image: url(/images/hireMeStars.png);
    text-align: center;
    @include border-radius($pad-sma);
    @include transition(all $transition-speed-spin $transition-style-sink);
    h2 {
      color: #ffff63;
      position: absolute;
      z-index: 3;
      width: 100%;
      text-align: justify;
      word-spacing: -10px;
      padding: 0 1em;
      font-size: 4em;
      top: 0.1em;
      @include transition(all $transition-speed-spin/6 ease-out);
      &:after {
        content: '';
        display: inline-block;
        width: 100%;
      }
    }
    img {
      position: absolute;
      top: 50%;
      margin-top: -88px;
      left: 50%;
      margin-left: -88px;
      transform: scale(3);
      @include transition(all $transition-speed-spin $transition-style-sink);
    }
    &:hover {
      background-color: #ffffff;
      h2 {
        color: $text-colour-alt;
        font-size: 5em;
      }
      img {
        transform: scale(1);
        @include animation(
          centred-spin $transition-speed-spin $transition-style-spin infinite
        );
      }
    }
  }
}

body.home {
  .content {
    .side-column {
      order: 1;
    }
    .main-column {
      order: 2;
    }
  }
}

/* ////////////////////////////////////////////////////////////////////////// */
/* */
@import '_media-queries.scss';
