/*@supports (display: grid) {
}

@media only screen and (min-width: 500px) {
  body.wrapper {
    .side-column,
    .main-column,
    .prev-next-btns,
    .site-footer,
    .site-header {
      padding: $pad-med $page-padding-right $pad-big $page-padding-left;
    }
    .site-header {
      padding-bottom: 0;
    }
    .side-column {
      padding-right: 0;
    }
    .site-footer {
      padding-bottom: $pad-med;
    }
    .content {
      > .main-column {
        padding-top: 0;
      }
    }
  }
  #magnifiable-image {
    width: $main-image-width-medium;
  }
}
@media only screen and (min-width: 800px) {
  body.wrapper {
    .side-column,
    .main-column,
    .prev-next-btns,
    .site-footer,
    .site-header {
      padding: $pad-med $page-padding-right $pad-big $page-padding-left;
    }
    .site-footer {
      padding-bottom: $pad-med;
    }
    form,
    .content {
      .side-column {
        text-align: right;
        padding-right: 0;
        padding-left: $page-padding-right;
      }
    }
  }
  #magnifiable-image {
    width: $main-image-width-large;
  }
}*/
