/*
@media only screen and (min-width: 500px) {
  a,
  a:hover,
  a:active {
    &#titleImage {
      top: 18px;
    }
  }
}

@media only screen and (min-width: 740px) {
  .homeImageMain {
    &:link,
    &:hover,
    &:active {
      width: 45%;
      margin-left: 2%;
      margin-right: 2%;
    }
  }
  .itemContainer {
    ul {
      li {
        width: 42%;
        margin-right: $pad-med-big;
      }
    }
  }
}

@media only screen and (min-width: 880px) {
  nav#fg-nav-main {
    ul {
      li {
        margin-left: $empad-sma;
        a.button,
        a.buttonSelected,
        a.button:hover,
        a.buttonSelected:hover {
          margin-bottom: $empad-med;
        }
      }
    }
  }

  .footerLeft,
  .footerRight {
    font-size: 1em;
    width: 39%;
    line-height: 1.5em;
  }
  .footerMid {
    font-size: 0.6em;
  }

  #titleImageBuffer {
    width: 300px;
    height: 20px;
  }

  .itemContainer {
    ul {
      li {
        margin-right: $pad-big;
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  #content {
    padding-bottom: ($pad-big * 2);
  }
  .mainColumn {
    width: 65%;
  }
  .sideColumn {
    text-align: right;
    width: 32%;
    margin-right: $empad-big;
  }
  .sideColumn.right {
    width: 32%;
  }
  #content,
  footer.fgfooter,
  header#fg-header,
  header.page-header,
  aside#secondary.widget-area,
  nav.post-navigation,
  div.comments-area {
    padding-left: $large-left-margin;
    padding-right: $large-right-margin;
  }
  nav.post-navigation {
    .nav-previous {
      float: left;
    }
    .nav-next {
      float: right;
    }
  }
  footer.fgfooter {
    background-position: right $large-right-margin bottom $pad-med;
  }
  .footerRight {
    right: $large-right-margin;
  }
  .itemContainer {
    ul {
      li {
        margin-right: $pad-big-big;
      }
    }
  }
  a#invert-colours-btn {
    @include opacity(1);
    position: fixed;
    top: 37px;
    right: 0;
    width: 28px;
    overflow: hidden;
    z-index: 2;
    right: $pad-med-big;
    left: auto;
    padding-left: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .itemContainer {
    ul {
      li {
        width: 28%;
      }
    }
  }
}

@media only screen and (min-width: 1031px) {
  .homeImageMain {
    &:link,
    &:hover,
    &:active {
      width: 30%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }
  nav#fg-nav-main {
    padding-top: $pad-big;
  }
  .mainColumn {
    width: 75%;
  }
  .sideColumn,
  .sideColumn.right {
    width: 22%;
  }
  a,
  a:hover,
  a:active {
    &#titleImage {
      width: 11%;
    }
  }
}

@media only screen and (min-width: 1290px) {
  .footerLeft,
  .footerRight {
    width: 33%;
  }

  .disclaimer {
    font-size: 1em;
  }

  .itemContainer {
    ul {
      li {
        margin-right: ($pad-big * 2);
      }
    }
  }
}
*/
