$list-item-w: 13rem;
$list-item-h: 13rem;

$pad-sma: 0.25rem;
$pad-med: 1.5rem;
$pad-big: 2.5rem;
$pad-huge: 4rem;

$main-padding-right: 3.5rem;

$side-col-min-width: 25rem;
$main-col-min-width: 50rem;

$title-image-width-mobile: 10rem;

$icon-size: 2rem;

/* ////////////////////////////////////////////////////////////////////////// */
/* SIZES */
/*
$pad-big-big: 40px;
$pad-big: 30px;
$pad-med-big: 22px;
$pad-med: 15px;
$pad-med-sma: 8px;
$pad-sma: 4px;

$small-right-margin: $pad-big;
$medium-right-margin: $pad-big-big;
$large-right-margin: ($pad-big-big * 2);

$small-left-margin: $pad-med;
$medium-left-margin: $pad-med-big;
$large-left-margin: $pad-big;

$empad-med-big: 1em;
$empad-big: 1.5em;
$empad-verybig: 2.5em;
$empad-huge: 4em;

$inner-col-w: 21em;
$home-image-width: 18em;

$side-col-w-small: auto;
$side-col-w-medium: 17em;
$side-col-w-large: 22em;

$mainImageWidthSmall: 400px;
$mainImageWidthMedium: 700px;
$mainImageWidthLarge: 1000px;

*/
