$list-item-w: 17.5rem;
$list-item-h: 19rem;

$pad-tiny: 0.25rem;
$pad-sma: 0.5rem;
$pad-med: 1rem;
$pad-big: 2.5rem;
$pad-huge: 4rem;

$pad-footer-top: 4rem;
$nav-max-width: inherit;

$small-page-padding-right: 1.25rem;
$small-page-padding-left: 1.25rem;
$medium-page-padding-right: 2.5rem;
$medium-page-padding-left: 2.5rem;
$large-page-padding-right: 5.5rem;
$large-page-padding-left: 4.5rem;

$side-col-min-width: 20rem;
$main-col-min-width: 40rem;

$title-image-width-mobile: 5rem;

$icon-size: 2rem;

$main-image-width-small: 400px;
$main-image-width-medium: 700px;
$main-image-width-large: 1000px;

$form-field-width: 25rem;

/* ////////////////////////////////////////////////////////////////////////// */
/* SIZES */
/*
$pad-big-big: 40px;
$pad-big: 30px;
$pad-med-big: 22px;
$pad-med: 15px;
$pad-med-sma: 8px;
$pad-sma: 4px;

$small-right-margin: $pad-big;
$medium-right-margin: $pad-big-big;
$large-right-margin: ($pad-big-big * 2);

$small-left-margin: $pad-med;
$medium-left-margin: $pad-med-big;
$large-left-margin: $pad-big;

$empad-med-big: 1em;
$empad-big: 1.5em;
$empad-verybig: 2.5em;
$empad-huge: 4em;

$inner-col-w: 21em;
$home-image-width: 18em;

$side-col-w-small: auto;
$side-col-w-medium: 17em;
$side-col-w-large: 22em;


*/
