---
layout: fg-template.njk
bodyClass: home
---


{% macro getPathByCollectionID(id) -%}
{%- for item in collections.all -%}
  {%- if item.itemData.id == id -%}
    {{ item.path }}
  {%- endif -%}
{%- endfor -%}
{%- endmacro %}


{# draws a single image with text linking to a work item #}
{% macro homepageItem(item) %}
<a class="homeImageMain boxRight" href="/{{ getPathByCollectionID(item.id) }}">
	<figure>
		<img src="/images/shim.png" style="background-image: url('images/items/main/{{ item.id }}.jpg')" />
		<figcaption>
			{%- if item.type === "WEB" -%}
			{% set details = item.client + " / " + item.year %}
			{%- else -%}
			{% set details = item.w + "x" + item.h + "cm / " + item.materials + " / " + item.year %}
			{%- endif -%}
			<h2>{{ item.title }}</h2><em>{{ details }}</em>
		</figcaption>
	</figure>
</a>
{% endmacro %}


{% block main %}

<div class="sideColumn col">
	<div class="boxLeft">
		<h1>This Site</h1>
		<p>This website is <strong>organic</strong>, it was never designed - it just grows out of me. To build it I use PHP, HTML5, LESS/CSS, JS, my fingers and my brain.</p>
		<p>I paint mainly in acrylics, make 3D objects and write code for the web. This is where I show my stuff.</p>
		<h1>My Art</h1>
		<p>I like Paul Cezanne, Joseph Turner, Albrecht Dürer - I like lots of painters.</p>
		<p>I like to draw attention to the way our visual systems work and how easily we can be fooled. This is most obvious in my realistic-looking paintings which on closer inspection prove to be made up of extremely messy (the messier the better) strokes.</p>
		<h1>Why Firm Gently?</h1>
		<p>I read it on the back of a packet of seeds (sow, cover in soil then firm gently)...I liked it, it pertains to cultivation and growth.</p>
		<p>Read more about it <a href="https://gentlyfirm.co.uk/words/art/firm-gently-gently-firm-and-the-i-ching/">here</a>.</p>
	</div>
</div><!-- sideColumn -->


<div class="mainColumn col">
	{# draw images linking to work items #}
	{% set homepageItems = data.items | rejectattr("excludeFromHome") %}
	{% for i in range(0, data.config.consts.HOME_LATESTITEMS_TOTAL) -%}
		{{ homepageItem(homepageItems[i]) }}
	{%- endfor %}
</div><!-- mainColumn -->


<div class="sideColumn col">
	<ul id="homeBannerGroup" class="boxRight col">
		<li class="captionedImage boxLeft">
			<a class="homeBanner" href="//www.gentlyfirm.co.uk">Gently Firm</a>
			<p>This is the left-brain stuff.</p><p>For abstract paintings, photography or writing pop over to <a href="//www.gentlyfirm.co.uk">Gently Firm</a>.</p>
		</li>
	</ul><!-- homeBannerGroup -->
</div><!-- sideColumn -->


<div class="col">
	<div class="stuckismBox boxRight">
		<p><a href="http://www.stuckism.com/stuckistmanifesto.html">The Stuckists Manifesto</a></p>
		<p>"<strong>Stuckism proposes a model of art which is holistic.</strong> It is a meeting of the conscious and unconscious, thought and emotion, spiritual and material, private and public. Modernism is a school of fragmentation - one aspect of art is isolated and exaggerated to detriment of the whole. This is a fundamental distortion of the human experience and perpetrates an egocentric lie."</p>
	</div>
</div><!-- col -->


<div class="col">
	<div id="hireMe" class="boxRight col">
		<a id="hireMeAnim"><img src="/images/hireMeSun.png"><h2>Hire me</h2></a>
		<ul>
			<li><a href="/contact.php?about=Web%20Work">Front End Web Dev</a> (HTML/CSS/PHP/MySQL/JS)</li>
			<li>Flash and HTML5 <a href="/contact.php?about=Games">games</a></li>
			<li>Painting <a href="/contact.php?about=Painting%20Commission">commissions</a></li>
			<li>Making <a href="/contact.php?about=Making%20Props">props</a></li>
		</ul>
	</div>
</div><!-- col -->

{% endblock %}
