---
layout: index.njk
bodyClass: home
---
## This Site

This website is **organic**, it was never designed - it just grows out of me. To build it I use PHP, HTML5, LESS/CSS, JS, my fingers and my brain.
I paint mainly in acrylics, make 3D objects and write code for the web. This is where I show my stuff.


## My Art

I like Paul Cezanne, Joseph Turner, Albrecht Dürer - I like lots of painters.

I like to draw attention to the way our visual systems work and how easily we can be fooled. This is most obvious in my realistic-looking paintings which on closer inspection prove to be made up of extremely messy (the messier the better) strokes.


## Why Firm Gently?

I read it on the back of a packet of seeds (sow, cover in soil then firm gently)...I liked it, it pertains to cultivation and growth.

Read more about it [here](https://gentlyfirm.co.uk/words/art/firm-gently-gently-firm-and-the-i-ching/).
