---
layout: fg-template.njk
title: Objects
bodyClass: objects
og_type: http://www.schema.org/Sculpture
desc: Sculptures, carvings and other solid media.
---

{% import "./layouts/itemList.njk" as itemList %}

{{ itemList.create(collections.objects, "objects") }}
